<!DOCTYPE html>
<html>
  <head>
    <title>TimeKeeper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div id="title_name">
        Time Keeper
    </div>
    <div id="subtile_name">
        ～勉強時間を一目で管理～
    </div id="button_flex-box">
        <button>新規登録</button>
        <button>ログイン</button>
    <div>

    </div>
  </body>
</html>